storage:
  dbPath: {{ mongo_conf_root_directory }}
  directoryPerDB: {{ mongodb_conf_directoryperdb }}

#where to log
systemLog:
  logAppend: true
  path: /var/log/mongodb/mongod.log
  destination: file

processManagement:
  fork: false

# Listen to local interface only. Comment out to listen on all interfaces.
net:
  bindIp: 0.0.0.0
  port: 27017

# Replica set options:
replication:
  replSetName: {{ mongodb_conf_replSet }}
  oplogSizeMB: {{ mongodb_conf_oplogSize }}
